In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy
import numpy as np

In [2]:
Data = pd.read_csv('/Users/ulric/Desktop/Agar_Gated_Dataset.csv')
Data.head()

,Unnamed: 0,Date,Training,Starvation,Relative Time Left,Relative Time Right,Relative Time far Left,Relative Time far Right,Reinforced_side,Peeks Left,...,Peeks Top,Face Left,Face Right,Face Top,Long Peeks Left,Long Peeks Right,Long Peeks Top,Long Face Left,Long Face Right,Long Face Top
0,0,22-03-10,Trained,Overnight no Water,0.687568,0.312432,0.242062,0.188678,Top,0.0,...,3.0,3.0,2.0,6.0,0.0,1.0,3.0,2.0,1.0,4.0
1,0,22-03-10,Trained,Overnight no Water,0.445191,0.554809,0.229559,0.274985,Top,1.0,...,3.0,3.0,4.0,3.0,0.0,0.0,2.0,2.0,3.0,1.0
2,0,22-03-10,Trained,Overnight no Water,0.458867,0.541133,0.247927,0.191526,Top,1.0,...,3.0,3.0,2.0,4.0,0.0,1.0,3.0,1.0,1.0,3.0
3,0,22-03-10,Trained,Overnight no Water,0.508440,0.491560,0.416981,0.396896,Top,3.0,...,1.0,1.0,1.0,0.0,1.0,4.0,0.0,1.0,0.0,0.0
4,0,22-03-10,Trained,Overnight with Water,0.593114,0.406886,0.291531,0.218271,Top,1.0,...,0.0,5.0,1.0,3.0,0.0,1.0,0.0,3.0,0.0,1.0